<form method="post" id="form" action="/employee/create">
    <p>
        <input type="text" maxlength="12" 
            name="name"
            placeholder="Enter employee's name"
             >

        <input type="text" maxlength="6" 
            name="salary"
            placeholder="Enter employee's salary"
             >
    </p>
    <p>
        <input type="submit" value="SEND">
    </p>
</form>