<p><%= data.name %></p>

<ul>

    <% if (data.employees.length !== 0) {data.employees.forEach(function(item){ %>

        <p><%= item.name %></p>

        <%- include('../buttonsSkeleton.ejs', { item }); %>

    <% })} else { %>
        <p>No employees</p>
    <% } %>

</ul>