<%- include('../homeButton.ejs') %>

<form method="post" action="/api/departments/create">
    <p>
        <input type="text" maxlength="12" 
            name="name"
            placeholder="Enter department's name" 
            <% if (parameters.values) { %>
                value="<%= parameters.values.name %>"
            <% } %>
        >
    </p>

    <% if (parameters.error) { %>
        <span><%= parameters.error %></span>
    <% } %>

    <p>
        <input type="submit" value="SEND">
    </p>
</form>