<%- include('../homeButton.ejs') %>

<form method="post" id="formEditDepartment" action="/api/departments/<%= id %>/update">
    <p>
        <% if (parameters.values && parameters.values.name) { %>

            <input type="text" maxlength="12" 
                name="name"
                placeholder="Enter department's name"
                value="<%= parameters.values.name %>"
            >

        <% } else { %>

            <input type="text" maxlength="12" 
                name="name"
                placeholder="Enter department's name"
            >

        <% } %>

    </p>

    <% if (parameters.error) { %>
        <span><%= parameters.error %></span>
    <% } %>

    <p>
        <input type="submit" value="SEND">
    </p>
</form>