<nav>

  <button>
    <a href="<%= item.addLink %>">ADD</a>
  </button>

  <button>
    <a href="<%= item.updateLink %>">EDIT</a>
  </button>

  <button id="<%= `delete-${item.id}` %>" >
    X
  </button>

  <button>
    <a href="<%= item.showLink %>">
      SHOW
    </a>
  </button>

</nav>