<nav>
  
    <button>
      <a href="<%= item.updateLink %>">EDIT</a>
    </button>

    <button id="delete-<%= item.id %>" >
      X
    </button>

  <% if (!item.salary) { %>
    
    <button>
      <a href="<%= item.showLink %>">
        SHOW
      </a>
    </button>

  <% } %>

</nav>