<ul>
    <% data.forEach(function(item){ %>

        <li> <%= item.name %> </li>
        <!-- <li> <%= item.id %> </li> -->

        <%- include('../buttonsSkeleton.ejs', { item }); %>

        <script>

            document.getElementById(`delete-${item.id}`).addEventListener('click', e => {
                const id = item.id

                fetch(`http://localhost:3000/departments/${item.id}/delete`, {
                    method: 'post'
                })
                .then(res => res.json)
                .catch(err => console.log(err))
            })
            // todo create form with delete method and id property
            // todo listen btn click event and send form
        
        </script>

    <% }); %>
</ul>