<form method="post" id="form" action="/departments/update">
    <p>
        <input type="text" maxlength="12" 
            name="department"
            placeholder="Enter department's name"
            required >
    </p>
    <p>
        <input type="submit" value="SEND">
    </p>
</form>